<a href="https://colab.research.google.com/github/yash5891/Python-Programming-Assignments/blob/main/Errors_and_Exceptions_Practice_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l1 = [1,2,3,4,5]
l2 = [100,200,300,400,500,600,700,800,900]
list_append(l1,l2)

Check the lengths of the list!

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [ ]:
#Correct the following code snippet where a function takes a number from the user as argument whose factorial value is divided by the same number. The factorial value of the number is calculated from another function that has SyntaxError present. Hence, correct the code snippet and make sure to use the try and except clause to handle the ZeroDivisionError and display the error message as well.

#ans==
def factorial(n):

    fact =+ 1
    i=+1

    while n == i:
        fact+= fact * (i)
        i = i - 1
    return(fact)

In [ ]:
factorial(3)

1

In [ ]:
def factorial_divider(n):
  try:
    if i in range(1,n):
        i=+i
        print(i)
  except   ZeroDivisionError as  Error :
    print("zero division error")

In [ ]:

def name_modification(name):

    new_name = ''
    try:
        for i in range(len(name)):
            new_name=name
            new_name=name[i]+len(i)
            print(new_name)
    except:
      print('error')

In [ ]:
name="yash"
name_modification(name)

error

In [ ]:
name="aiadventures"
try:
  for i in range(len(name)):
            new_name=name
            new_name=name[i]+str(i)
            print(new_name)
except type() as error :
            print("error")
else:
     pass
finally:
  print("code completed")

a0
i1
a2
d3
v4
e5
n6
t7
u8
r9
e10
s11
code completed

In [ ]:

def char_Pattern(name):
  for i in range(name):
    for j in range(i,name):

      print(j,end="")
    print()

In [ ]:
name=input("enter the name of any ipl team")
char_Pattern(name)

enter the name of any ipl teamcsk

TypeError: ignored