<a href="https://colab.research.google.com/github/yash5891/Python-Programming-Assignments/blob/main/function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def cube(number):
  result=number**3
  return result

In [ ]:
cube(3)

27

In [ ]:
def square(n1 ,n2 ):
   n1=n1**2
   n2=n2**2
   return  n1+n2

In [ ]:
square(2,1)

5

In [ ]:
def fact(number):
  n=number
  factorial=1
  for i in range(1,n+1):
   factorial=factorial*i
  #  out=factorial
  return factorial

In [ ]:
fact(5)

120

In [ ]:
def string_concatenation(s1 = 'ai',s2="adventures" ,s3 = 3):

    if s3 == 3:
     s = (s1 + s2) * s3
     print(s,end = '')
    else:
     s = (s1 + s2) * 1
     print(s,end = "")

In [ ]:
    string_concatenation("ai","adventures",3)

aiadventuresaiadventuresaiadventures

In [ ]:
def multiply(a,b=2):
  result=a*b
  return result

In [ ]:
multiply(4)

8

In [ ]:
def calculate_area(base, height,shape):
  b=2
  h=6
  #traingle=1/2*b*h
  #rectangle=base*height
  if shape=="traingle":
   traingle=1/2*(b*h),"traingle"
   return traingle
  if  shape== "rectangle":
     rectangle=b*h,"rectangle"
     return  rectangle

In [ ]:
calculate_area(2,6,"rectangle")

(12, 'rectangle')

In [ ]:
def none_value_assignment(s1 = input(),s2 = input()):
   result=s1+s2
   print(result)

ai
adven

In [ ]:
var1=none_value_assignment()

aiadven

In [ ]:
type(var1)

NoneType

In [ ]:
def sequence(number):
  n=number
  factorial=1
  seq = 1
  for i in range(1,n+1):
   factorial=(factorial*i)
   seq += 1/factorial
  #  out=factorial
  return seq

In [ ]:
sequence(5)

2.7166666666666663

In [ ]:

def ispangram(sentence):
  alphabets="abcdefghijklmnopqrstuvwxyz"
  print(len(alphabets))
  for i in alphabets:
   if i not in sentence:
    return False
  return True

In [ ]:
sentence1 = "a quick brown fox jumps over the lazy dog"
sentence2 = "hello my name is ramesh"
ispangram(sentence1)

26

True

In [ ]:
ispangram(sentence2)

26

False